<div class="soundcloud-player">
    <iframe width="{{ include.width | 100 }}%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            src="{{ include.src }}"></iframe>
    <div class=".soundcloud-player">
        <a href="{{ include.user_url }}" title="{{ include.page_title }}" target="_blank"
           style="color: #cccccc;">{{ incldue.page_title }}</a> ·
        <a href="{{ include.audio_url }}"
           title="{{ include.audio_title }}" target="_blank"
           style="color: #cccccc;">InfoQ Culture &amp; Methods Trends Report March 2022</a>
    </div>
</div>